<p-messages [value]="msgs"></p-messages>

<p-dataTable [value]="contacts" [rows]="10" [paginator]="true" selectionMode="single" [responsive]="true" (onRowSelect)="onRowSelect($event)">
    <header>Contacts</header>
    <p-column field="firstName" header="First Name" [sortable]="true" [filter]="true"></p-column>
    <p-column field="lastName" header="Last Name" [sortable]="true" [filter]="true"></p-column>
    <p-column field="email" header="Email Id" [sortable]="true" [filter]="true"></p-column>
    <p-column field="groupDetails" header="Groups" [sortable]="true" [filter]="true" [colspan]="2"></p-column>
    <footer>
        <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton style="float:left" label="Create"></button>
            <button type="button" pButton style="float:left" label="Import"></button>
        </div>
    </footer>
</p-dataTable>

<p-dialog [(visible)]="displayViewDialog" [responsive]="true" showEffect="fade" [modal]="true" *ngIf="contactSelected" [width]="1000">
    <p-panel>
        <header>
            <center>Contact Details</center>
        </header>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="firstName">First Name</label></div>
            <div class="ui-grid-col-8">
                <input [readonly]="updateContact" pInputText id="firstName" [(ngModel)]="contactSelected.firstName" />
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="lastName">Last Name</label></div>
            <div class="ui-grid-col-8">
                <input [readonly]="updateContact" pInputText id="lastName" [(ngModel)]="contactSelected.lastName" />
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2"><label for="email">Email Id</label></div>
            <div class="ui-grid-col-8">
                <input pInputText [readonly]="updateContact" id="email" [(ngModel)]="contactSelected.email" />
            </div>
        </div>
        <br/>
        <div class="ui-grid-row">
            <p-dataTable [value]="contactSelected.contactGroups">
                <p-column field="group.name" header="Group Name"></p-column>
                <p-column field="active" header="Active"></p-column>
                <p-column field="unSubscribed" header="UnSubscribed"></p-column>
            </p-dataTable>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-trash" (click)="deleteSelectedContact()" label="Delete"></button>
                <button type="button" pButton icon="fa-pencil" (click)="updateContactClick()" label="Edit"></button>
            </div>
        </footer>
    </p-panel>
</p-dialog>